.DS_Store
*.tsbuildinfo
platform/
.env*
.env.local.yml
test/.env.local.yml
*.env
.claude/
CLAUDE.md
GUIDELINES.md
postman/
TODO_API.md
.vscode/
.git/
.gitignore
scripts/
test/
*.log
npm-debug.log*
.tmp/
tmp/
